<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Update Game - PlayTest</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="tables.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="/index">PlayTest</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/games">Games</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/consoles">Consoles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/rentals">Rentals</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/customers">Customers</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <main>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Update Game
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form class="row g-3" action="/update_game/{{update['game_ID'|e]}}" method="post">
                            <input type="hidden" name="game_id" value="{{update['game_ID'|e]}}">
                            <div class="col-md-6">
                              <label for="title" class="form-label">Title</label>
                              <input type="text" class="form-control" id="title" name="title" value="{{update['title']}}">
                            </div>
                            <div class="col-md-3">
                              <label for="players" class="form-label">Max Players</label>
                              <input type="number" class="form-control" id="players" name="players" value="{{update['player_count']}}">
                            </div>
                            <div class="col-md-3">
                              <label for="rating" class="form-label">Rating</label>
                              <select id="rating" class="form-select" name="rating">
                                {% if update['rating'] == 'E' %}
                                <option>Choose...</option>
                                <option selected>E</option>
                                <option>T</option>
                                <option>M</option>
                                <option>AO</option>
                                {% elif update['rating'] == 'T' %}
                                <option>Choose...</option>
                                <option>E</option>
                                <option selected>T</option>
                                <option>M</option>
                                <option>AO</option>
                                {% elif update['rating'] == 'M' %}
                                <option>Choose...</option>
                                <option>E</option>
                                <option>T</option>
                                <option selected>M</option>
                                <option>AO</option>
                                {% elif update['rating'] == 'AO' %}
                                <option>Choose...</option>
                                <option>E</option>
                                <option>T</option>
                                <option>M</option>
                                <option selected>AO</option>
                                {% else %}
                                <option selected>Choose...</option>
                                <option>E</option>
                                <option>T</option>
                                <option>M</option>
                                <option>AO</option>
                                {% endif %}
                              </select>
                            </div>
                            <div class="col-md-4">
                              <div class="form-check">
                              {% if update['online'] %}
                              <input class="form-check-input" type="checkbox" value="" id="online" name="online" checked>
                              {% else %}
                              <input class="form-check-input" type="checkbox" value="" id="online" name="online">
                              {% endif %}
                                <label class="form-check-label" for="online">
                                Online
                                </label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="publisher" class="form-label">Publisher</label>
                              <input type="text" class="form-control" id="publisher" name="publisher" value="{{update['publisher']}}">
                            </div>
                            <div class="col-md-4">
                              <label for="genre" class="form-label">Genre</label>
                              <select id="genre" class="form-select" name="genre">
                                {% if update['genre'] == 'unknown' or update['genre'] == 'Choose...' %}
                                  <option selected>Choose...</option>
                                {% else %}
                                  <option>Choose...</option>
                                {% endif %}}
                                {% for g in genres %}}
                                  {% if update['genre'] == g %}
                                  <option selected>{{g}}</option>
                                  {% else %}
                                  <option>{{g}}</option>
                                  {% endif %}
                                {% endfor %}}
                              </select>
                            </div>
                            <div class="col-12">
                              <button type="submit" class="btn btn-primary">Update Game</button>
                            </div>
                          </form>
                    </div>
                  </div>
                </div>
            </div>
            <div class="container" id="entity">
                <h2>Game to Update</h2>
                <div class="table-responsive">
                    <table class="table table-dark table-striped table-hover">
                        <thead>
                            <tr>
                              <th scope="col">Title</th>
                              <th scope="col">Max Players</th>
                              <th scope="col">Rating</th>
                              <th scope="col">Online</th>
                              <th scope="col">Publisher</th>
                              <th scope="col">Genre</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr id="{{update['game_id']}}">
                                <td>{{update["title"]}}</td>
                                <td>{{update["player_count"]}}</td>
                                <td>{{update["rating"]}}</td>
                                <td>{{update["online"]}}</td>
                                <td>{{update["publisher"]}}</td>
                                <td>{{update["genre"]}}</td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="tables.js"></script>
    </body>
</html>
